.detail-container {
    background-color: #F4F5F3;
    padding: 10%;
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    
}

.goback {
    padding: 1%;
    background-color: #fff;
    border: 1px #fff solid;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.goback:hover{
    cursor:pointer
}

.icon {
    font-size: 25px;
    margin-right: 5px;
}

.name {
    font-size: 60px;
    margin: 0 auto; 
}

@media screen and (max-width: 700px) {
  .name{
     font-size: 50px;    
  }
}

@media screen and (max-width: 582px) {
  .name{
     font-size: 40px;    
  }
}

@media screen and (max-width: 470px) {
  .name{
     font-size: 30px;    
  }
}

.date {
    margin: 0 auto;
    font-size: 20px;
}

@media screen and (max-width: 360px) {
  .name{
     font-size: 20px;    
  }
  .date{
      font-size: 15px;
  }
}

.video {
    margin: 0 auto;
}