.notfound-container {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}

.error {
    margin: 0 auto;
    font-size: 150px;
    color: #FF7963;
}

.errorpage {
    margin: 0 auto;
    font-size: 40px;
    opacity: 0.8;
}

@media screen and (max-width: 294px) {
  .errorpage{
     font-size: 30px;    
  }
}

.home-link {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 20px;
    color: #FF7963;
    cursor:pointer;
    text-decoration: none;
}